<div class="container-index-inspiration">
    <div class="prompt-form-area">
        <div class="form-group">
            <input type="text" id="place" name="place" placeholder="場所を入力" class="form-control">
        </div>
    </div>    
    <div class="prompt-area">
        <div class="template">
            <div class="prompt-text">
                あまり知られていない観光スポットを教えて
            </div>
            <div class="prompt-text">
                地元の人たちに人気のレストランを教えて
            </div>
            <div class="prompt-text">
                地元の料理や食材を楽しめるレストランを教えて
            </div>
            <div class="prompt-text">
                おすすめのカフェを教えて
            </div>
            <div class="prompt-text">
                地元の歴史的建造物を教えて
            </div>
            <div class="prompt-text">
                美しい景色を楽しめるスポットを教えて
            </div>
            <div class="prompt-text">
                ローカルマーケットや地元の特産品やお土産を買うことができる場所を教えて
            </div>
        </div>  
    </div>

</div>