.generated-plan-container {
    padding: 30px 30px 100px 30px;
    width: 40%;
    min-width: 500px;
    border-right: var(--border-style);
    font-size: 16px;
    display: flex;
    flex-direction: column; 
  }
  
  .loading-container {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cursor-pointer {
    cursor: default;
  }
  
 .hidden {
    display: none;
  }