// Define your variables

.header {
  position: fixed;
  width: 100%;
  border-bottom: var(--border-style);
  z-index: 100;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: var(--background-color);
  color: var(--font-color);
  height: var(--headertop-height);
}

.header-logo {
  display: block;
  font-size: 24px; 
  font-weight: bold;
  white-space: nowrap;
}

.header-logo a {
  color: var(--font-color);
  text-decoration: none;
}

.header-search, .header-nav {
  display: flex;
  align-items: right;
}

// 検索窓
.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  width: 400px;
  height: 30px;
  border: 2px solid var(--border-style);
  border-radius: 30px;
  outline: none;
  appearance: none;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #c6ddda;
  padding: 30px;
  caret-color: black;
  font-size: 18px;
}

.search-input:focus {
  border-color: #2a9d8f;
  box-shadow: 0 0 0 3px rgba(42, 157, 143, 0.25);
}


.search-input-container {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}


/* header-nav */

.header-nav ul {
  display: flex;
  list-style: none;
}

.header-nav li {
  display: flex;
  align-items: center;
  margin: 0 20px;
  height: var(--headerbottom-height);
  white-space: nowrap;
}

.header-nav a:hover {
  color: var(--hover-color);
}

.header-nav a {
  color: var(--font-color);
  text-decoration: none;
}

#dark-mode-toggle {
  margin: 0 auto;
  padding: 3px;
  color: black;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  display: grid;
  place-items: center;
  cursor: pointer;
  width: 180px;
}

#dark-mode-toggle:hover {
  color: var(--hover-color);
}

.dark-text {
  position: absolute;
  z-index: 1;
}

.light-text {
  position: absolute;
  z-index: 2;
}

.icon {
  padding-right: 5px;
}

.signup {
  cursor: default;
}

.login {
  cursor: default;
}

/* Category nav */
.category-nav {
  background-color: var(--nav-background-color);
  padding: 10px 0;
  opacity: 1;
}

.category-nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding-left: 10px;
}

.category-nav li {
  margin: 0 15px;
}

.category-nav a {
  color: var(--nav-font-color);
  text-decoration: none;
  transition: color 0.2s;
  font-size: 15px;
}

.category-nav a:hover {
  color: var(--hover-color);
}

.language-switcher {
  margin: auto 12px auto 0 ;
}

.language-select {
  border: none;
  font-size: 16px;
  padding: 0 4px;
  background-color: var(--background-color);
  &:hover {
    color: var( --hover-color);
  }
  &:focus {
    outline: none;
  }
}

body.dark-mode .language-select {
  border: none;
  font-size: 16px;
  background-color: var(--background-color-dark-mode);
  color: white;
  &:hover {
    color: var( --hover-color-dark-mode);
  }
}

