@keyframes slideOutToDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.slide-fade-out-to-down {
  animation-name: slideOutToDown;
  animation-duration: 1s;
}

@media screen and (max-width: 600px) {

  .container-index {
    width: 100vw;
    position: relative;
  }

  .generated-plan-container {
    position: absolute!important;
    top: 430px!important;
    left: 0!important;
    z-index: 0!important;
  }

  .right-side-container {
    display: block;
    margin-right: 0px!important;
    width: 100%!important;
    height: 400px!important;
  }

  .map-container {
    width: 100%!important;
    height: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  #map {
    width: 90%!important;
    height: 100%!important;
    display: block;
    position: absolute!important;
    top: 30px!important;
    left: 30px!important;
    height: 86%!important;
    width: 86%!important;
    border-radius: 10px!important;
  }
    
  .header-logo a {
  }

  .header-nav {
  }

  .user {
    display: none;
  }

  .mode-text {
    font-size: 4px;
  }

  #dark-mode-toggle {
    width: 80px;
  }

  .language-select-container {
    font-size: 6px;
  }

  .language-select {
    font-size: 6px;
    width: 60px;
    margin-right: 0px;
  }

  .input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .form-group {

  }

  .select-control {

  }

  .submit-button {

  }

  input::placeholder {

  }

  #day-slider {

  }

  .slider-wrapper {

  }

  #day-slider-display {

  }

  .days-text {

  }

  #day-slider .noUi-handle {

  }

  select {

  }
  
  .input h2 {

  }

  .cursor-pointer {

  }


  .prompt-area {
    width: 100%!important;
  }

  .prompt-box {
    width: 90%!important;
    white-space: pre-wrap!important;
    margin: 16px auto!important;
    padding: 12px!important;
  }

  .form {
    width: 90%!important;
  }

  .prompt-area {
     .form-group {
        width: 75%!important;
     }
  }

  .category-nav a {
    font-size: 13px;
  }

  .inspiration {
    width: 100%!important;
  }

}