@media screen and (max-width: 500px) {

  .container-index {
    width: 100vw;
    position: relative;
  }

  .generated-plan-container {
    position: absolute;
    top: 0;
    left: 0;
  }

  .right-side-container {
    display: block;
  }

  .map-container {
    display: block;
  }

  #map {
    display: block;
  }
    
  .header-logo a {
  }

  .category-nav a {

  }

  .input {
    position: absolute;
    top: 0;
    left: 0;

      .form-control {
  
      }

      .form-group {


          .label {

          }
      }

      .select-control {

      }

      .submit-button {

      }

  } 

  input::placeholder {

  }

  #day-slider {

}

  .slider-wrapper {

  }

  #day-slider-display {

  }

  .days-text {

  }

  #day-slider .noUi-handle {

  }

  select {

  }
  
  .input h2 {

  }

  .cursor-pointer {

  }



  
  }