
.right-side-container {
    width: 0px;
    margin-right: 36px;
    position: relative;
    z-index: 0;
    display: none;
  }

.map-container {
  margin-right: 36px;
  width: calc(100% - 10px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
}  
  
#map {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: none;
}
