
.right-side-container {
    width: 0px;
    margin-right: 36px;
    position: relative;
    z-index: 0;
  }

.map-container {
  padding: 20px;
  margin-right: 34px;
  width: calc(100% - 10px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}  
  
#map {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
