:root {
    --background-color-dark-mode: rgb(37, 38, 46);
    --background-border_style-dark-mode: 1px solid #1e3b1f;
    --font-color-dark-mode: #f4f4f4;;
    --input-background-color-dark-mode: rgba(41, 41, 43, 0.9);
}

body.dark-mode {
    background-color: var(--background-color-dark-mode);
    color: var(--font-color-dark-mode);
  }

  body.dark-mode .container-about {
    background-image: url('hongkong_night.jpg');
  }

  body.dark-mode .upper-left {
    p {
      color: white;
    }
  
    h3 {
      color: white;    
    }
  }
  
  body.dark-mode .middle-right {
    p {
      color: white;
    }
  
    h3 {
      color: white;    
    }  
  }
  
  body.dark-mode .bottom-left {
    p {
      color: white;
    }
  
    h3 {
      color: white;    
    }  
  }
  
  body.dark-mode .plan-input {
    background-color: var(--input-background-color-dark-mode);
    border: 1px solid var(--background-border_style-dark-mode);
  }
  
  body.dark-mode .select-control {
    border-color: rgba(87, 81, 81, 0.5);
    background-color: rgba(87, 81, 81, 0.5);
    color: white;
  }
  
  body.dark-mode .form-control {
    border-color: rgba(87, 81, 81, 0.5);
    background-color: rgb(77, 64, 64);
    color: white;
  }
  
  body.dark-mode .form-control:focus,
  body.dark-mode .select-control:hover,
  body.dark-mode .form-control:hover {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 3px rgba(233, 196, 106, 0.25);
    background-color: rgba(60, 60, 60, 1);
  }

  body.dark-mode .form-control:focus {
    background-color: rgba(87, 81, 81, 0.5);
    caret-color: white;
  }

  body.dark-mode .form-control:-webkit-autofill {
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  
  body.dark-mode .submit-button {
    background-color: rgba(68, 136, 68, 0.7);
  }
  
  body.dark-mode .submit-button:hover {
    background-color: #a79151;
  }
  
  
  body.dark-mode .budget-input {
    background-color: rgba(221, 221, 221, 0.7);
  }
  
  //dark-mode header
  body.dark-mode .header {
    border-bottom: 1px solid var(--background-border_style-dark-mode);
  }
  
  body.dark-mode .header-top {
    background-color: var(--background-color-dark-mode);
    color: var(--font-color-dark-mode);
  }
  
  
  body.dark-mode .header a,
  body.dark-mode .category-nav a {
    color: var(--font-color-dark-mode);
  }

  body.dark-mode .header-nav a:hover {
    color: var(--hover-color-dark-mode);
  }
  
  body.dark-mode .category-nav {
    background-color: var(--secondary-background-color-dark-mode);
    opacity: 1;
  }
  
  body.dark-mode .category-nav a:hover {
    color: var(--hover-color-dark-mode);
  }
  
  body.dark-mode .search-input {
    background-color: rgba(87, 81, 81, 0.5);
    border-color: rgba(255, 255, 255, 0.2);
    caret-color: white;
    color: white;
  }
  
  body.dark-mode .search-input:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 3px rgba(233, 196, 106, 0.25);
  }
  
  body.dark-mode .generated-plan-container {
    border-right: var(--background-border_style-dark-mode);
  }
  
  body.dark-mode .footer {
    background-color: var(--secondary-background-color-dark-mode);
    padding: 20px 0;
    text-align: center;
    opacity: 1;
  }
  
  body.dark-mode .footer a {
    color: var(--font-color-dark-mode);
    text-decoration: none;
  }

  body.dark-mode #dark-mode-toggle {
    margin: 0 auto;
    padding: 3px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }

  body.dark-mode #dark-mode-toggle:hover {
    color: var(--hover-color-dark-mode);
  }

  body.dark-mode .signup-form {
    background-color: #9ec0bc;
  }
  
  body.dark-mode .login-form {
    background-color: #9ec0bc;;
  }

  body.dark-mode .form-title-link li a {
    color: white;
  }

    body.dark-mode .form-title-link li a:hover {
    color: var(--hover-color);
  }

  body.dark-mode .prompt-area {
    background-color: var(--background-color-dark-mode);
  }

  body.dark-mode .prompt-box {
    background-color: var(--background-color-dark-mode);
    color: var(--font-color-dark-mode);
}

  body.dark-mode .prompt-box:hover {
    box-shadow: 0 0 17px rgba(69, 255, 233, 0.5);
  }

  body.dark-mode .password-reset a {
    text-decoration: none;
    color: white;
  }