/* Variables */
:root {
  --primary-color: #2a9d8f;
  --secondary-color: #e9c46a;
  --background-color: #f4f4f4;
  --font-color: #000000;;
  --background-color-dark-mode: rgba(52,53,65);
  --font-color-dark-mode: #f4f4f4;;
  --input-background-color-dark-mode: rgba(34, 34, 36, 0.9);
  --logo-size: 30px;
  --nav-background-color: #f4f4f4;
  --nav-font-color: #333;
  --hover-color: #2a9d8f;
  --border-style: 1px solid #66dbc6;

}

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

/* Features */
.features {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.feature {
  text-align: center;
  width: 30%;
}

.feature h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.container_index {
  display: flex;
}

.generated_plan {
  width: 1000px;
  flex-shrink: 0;
  padding: 40px;
}

/* Footer */
.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer__links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 10px;
}

.footer__links li {
  margin-left: 15px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

/* Button styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.btn--cta {
  background-color: var(--secondary-color);
  color: #fff;
}

.container_index {
  padding: 100px 0 0 0;
}


body.dark-mode {
  background-color: var(--background-color-dark-mode);
  color: var(--font-color-dark-mode);
}

body.dark-mode .plan-input {
  background-color: var(--input-background-color-dark-mode);
}

body.dark-mode .select-control {
  background-color: rgba(87, 81, 81, 0.5);
  color: var(--font-color-dark-mode);
}

body.dark-mode .form-control {
  border-color: rgba(87, 81, 81, 0.5);

}


body.dark-mode .form-control:focus,
body.dark-mode .select-control:hover,
body.dark-mode .form-control:hover {
  border-color: var(--secondary-color);
  box-shadow: 0 0 0 3px rgba(233, 196, 106, 0.25);
  background-color: rgba(60, 60, 60, 0.9);
}

body.dark-mode .submit-button {
  background-color: rgba(68, 136, 68, 0.7);
}

body.dark-mode .submit-button:hover {
  background-color: #a79151;
}

body.dark-mode #destination-input {
  background-color: rgba(87, 81, 81, 0.5);
  color: var(--font-color-dark-mode);
}

body.dark-mode #place_to_visit-input {
  background-color: rgba(87, 81, 81, 0.5);
  color: var(--font-color-dark-mode);
}

body.dark-mode .budget-input {
  background-color: rgba(221, 221, 221, 0.7);
}

body.dark-mode .budget-option:checked ~ .budget-label ~ .budget-input {
  background-color: rgba(255, 255, 255, 0.7);
}

//dark-mode header
body.dark-mode .header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

body.dark-mode .header_top {
  background-color: var(--background-color-dark-mode);
  color: var(--font-color-dark-mode);
}


body.dark-mode .header a,
body.dark-mode .category-nav a {
  color: var(--font-color-dark-mode);
}

body.dark-mode .category-nav {
  background-color: rgba(52, 53, 65, 0.9);
}

body.dark-mode .category-nav a:hover {
  color: var(--secondary-color);
}

body.dark-mode .search-input {
  background-color: rgba(87, 81, 81, 0.5);
  border-color: rgba(255, 255, 255, 0.2);
}

body.dark-mode .search-input:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 0 0 3px rgba(233, 196, 106, 0.25);
}

body.dark-mode .footer {
  background-color: var(--background-color-dark-mode);
  padding: 20px 0;
  text-align: center;
  border-top: var(--border-style);
}

body.dark-mode .footer a {
  color: var(--font-color-dark-mode);
  text-decoration: none;
}


#dark-mode-toggle {
  width: 50px;
  margin: 0 auto;
  padding: 3px;
  background-color: #2a9d8f;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 12px;
}

body.dark-mode #dark-mode-toggle {
  width: 50px;
  margin: 0 auto;
  padding: 3px;
  background-color: #2a9d8f;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 12px;
}