.container-about {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0 auto;
  background-image: url('hongkong.jpg');
  background-size: cover;
  position: absolute;
  top: 100px;
}

.feature {
  width: 65%;
  margin: 20px auto;
}

.feature-item {
  width: 100%;
  margin-bottom: 20px;
}

.upper-left {
  width: 100%;  
  padding-top: 34px;
  text-align: left;

  p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #666666;
  }

  h3 {
    font-size: 26px;
    margin-bottom: 5px;
    color: #666666;    
  }
}

.middle-right {
  width: 100%;
  padding-top: 34px;
  text-align: center;
  
  p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #666666;
  }

  h3 {
    font-size: 26px;
    margin-bottom: 5px;
    color: #666666;    
  }  
}

.bottom-left {
  width: 100%;
  padding-top: 34px;
  text-align: right;
  
  p {
    font-size: 18px;
    margin-bottom: 5px;
    color: #666666;
  }

  h3 {
    font-size: 26px;
    margin-bottom: 5px;
    color: #666666;    
  }  
}
