<div class="generated_plan_container">
    <!-- loading_container hiddenクラスを外すのはbutton_fade.js -->
    <div class="loading_container hidden"> 
        <div class="loading">
            <img src="loading.gif" alt="Loading..." height="20">
        </div> 
   </div>   
    <div id="element-to-update"></div>
</div>
