<div class="generated_plan_container">
    <div class="loading hidden">
        <img src="loading.gif" alt="Loading..." height="25">
    </div>    
    <div id="element-to-update"></div>
</div>

<!-- <%= javascript_pack_tag 'open_ai_stream' %> -->
<!-- <%= link_to "Stream OpenAI API", open_ai_stream_openai_api_path, remote: true %> -->